:root{
    --cor-de-fundo: #15c2f7;
    --branco: #ffffff;
    --degrade: linear-gradient( 97deg, #0b0836 35% , #383bf1 165%);
    --laranja: #EB9b00;
    --fonte_principal: "Poppins";
    --azul: #002F52;
    --fonte-secundario: "Josefin Sans";
    --preto: #000000;
    --cinza: #474646;
    --cinza-claro: #858585;
}

body{
    background-color: var(--cor-de-fundo);
    font-family: var(--fonte_principal);
    font-size: 16px;
    font-weight: 400;
}

.img_cabecalho{
    width: 15%;
    margin: 10px;
}